h1 {
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 100px;
}

#flex-container {
    display: flex;
    max-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calculator-main {
    width: 450px;
}

#display {
    height: 100px;
    color: #000;
    background-color: #fff;
    font-family: 'Inconsolata', monospace;
    overflow: hidden;
}

#big-display  {
    text-align: right;
    font-size: 75px;
    height: 100px;
}

#small-display {
    text-align: right;
    font-size: 25px;
}

#button-group {
    display: grid;
    background-color: #494949;
    border: 1px solid #000;
    grid-gap: 2px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.number-button {
    width: auto;
    font-weight: bolder;
    font-size: 20px;
    background-color: #2d2d2d;
    color: #fff;
    border: 1px solid transparent;
    text-align: center;
    line-height: 55px;
    padding: 10px;
}

.number-button:hover {
    width: auto;
    font-weight: bolder;
    font-size: 20px;
    background-color: #494949;
    color: #000;
    border: 1px solid transparent;
    text-align: center;
    line-height: 55px;
    padding: 10px;
}

#button-clear {
    grid-column: 1/3;
}

#button-0 {
    grid-column: 1/3;
}

.function-button {
    background-color: #ff8f19;
    color: #000;
}

.function-button:hover {
    background-color: #705000;
    color: #fff;
}
