h1 {
    text-align: center;
}

#grid-container {
    display: grid;
    justify-items: center;
}

#calculator-main {
    border: 1px solid rgb(0, 0, 0);
    width: 400px;
    height: 493px;
}

#display {
    height: 100px;
    color: #fff;
    background-color: #000;
    font-family: 'Inconsolata', monospace;
}

#main-display  {
    text-align: right;
    font-size: 50px;
    height: 100px;
}

#small-display {
    text-align: right;
}

#button-group {
    display: grid;
    background-color: #494949;
    grid-gap: 2px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.number-button {
    width: auto;
    font-weight: bolder;
    background-color: #d6d6d6;
    border: 1px solid transparent;
    text-align: center;
    line-height: 55px;
    padding: 10px;
}

.function-button {
    width: auto;
    font-weight: bolder;
    background-color: #d6d6d6;
    border: 1px solid transparent;
    text-align: center;
    line-height: 55px;
    padding: 10px;
}


#button-clear {
    grid-column: 1/3;
}

#button-0 {
    grid-column: 1/4;
}

#button-divide, #button-multiply, #button-add, #button-subtract, #button-equals {
    background-color: #ff8f19;
}
